@model UniversityManagementSystemWebApp.Models.Result

@{
    ViewBag.Title = "SaveResult";
}

<link href="~/Content/form-style.css" rel="stylesheet" />

@* validation message color *@
<style>
    .error-message {
        color: red;
    }
</style>

<!-- Top container -->
<div id="all-head">
    <span><h2>University Management System</h2></span>
</div>

@* navigation bar *@
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("SaveResult","Student")">Save Result</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li>@Html.ActionLink("View Result", "ViewStudentResult", "Student")</li>
        </ul>
    </div>
</nav>


<h3>Save Result</h3>
<p>Save student result</p>
<hr />

<div class="form-body">

    @* for show message after button click *@

    @if (ViewBag.Response == "Empty")
    {
        <div class="alert alert-danger alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Can not Saved!</strong> Please select all fields correctly.
        </div>
    }
    else if (ViewBag.Response == "UpdateFailed")
    {
        <div class="alert alert-danger alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Can not Updated!</strong> An error occured during update existing result.
        </div>
    }
    else if (ViewBag.Response == "UpdateSuccess")
    {
        <div class="alert alert-success alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Update existing result successfully.
        </div>
    }
    else if (ViewBag.Response == "SaveSuccess")
    {
        <div class="alert alert-success alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Result saved successfully.
        </div>
    }
    else if (ViewBag.Response == "SaveFailed")
    {
        <div class="alert alert-danger alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failed!</strong> An error occured during save result.
        </div>
    }

    @* start form (Save Student Result) *@


    @using (Html.BeginForm())
    {
        @Html.LabelFor(x => x.StudentId, "Student RegNo")
        <br />
        @Html.DropDownListFor(x => x.StudentId, new SelectList(ViewBag.Students, "Value", "Text"))
        <br/>
        @Html.ValidationMessageFor(x=>x.StudentId, null, new {@class="error-message"})
        <br/>

        @Html.Label("Name")
        <br />
        @Html.TextBox("Name", null, new { disabled = "disabled" })
        <br />

        @Html.Label("Email")
        <br />
        @Html.TextBox("Email", null, new { disabled = "disabled" })
        <br />

        @Html.Label("Department")
        <br />
        @Html.TextBox("Department", null, new { disabled = "disabled" })
        <br />

        @Html.LabelFor(x => x.CourseId, "Course")
        <br />
        @Html.DropDownListFor(x => x.CourseId, new SelectList(""), "--Select Course--")
        <br/>
        @Html.ValidationMessageFor(x=>x.CourseId, null, new {@class="error-message"})
        <br/>

        @Html.LabelFor(x => x.GradeId, "Grade")
        <br />
        @Html.DropDownListFor(x => x.GradeId, new SelectList(ViewBag.Grades, "Value", "Text"))
        <br/>
        @Html.ValidationMessageFor(x=>x.GradeId, null, new {@class="error-message"})
        <br/>

        <input type="submit" value="Save" />
    }
    </div>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    @section scripts
{
        <script>
            //get enrolled course by student id
            $(document).ready(function () {

                $("#StudentId").change(function () {
                    var studentId = $("#StudentId").val();
                    var json = { studentId: studentId };

                    $("#Name").val("");
                    $("#Email").val("");
                    $("#Department").val("");
                    $("#CourseId").empty();
                    $("#CourseId").append('<option value="">--Select Course--</option>');

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetEnrolledCourseByStudentId", "Student")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {
                            $("#CourseId").empty();
                            $("#CourseId").append('<option value="">--Select Course--</option>');
                            $.each(data, function (key, value) {
                                $("#CourseId").append('<option value=' + value.Id + '>' + value.Name + '</option>');
                            });

                        }
                    });
                });
            });

            //get student info student id
            $(document).ready(function () {

                $("#StudentId").change(function () {
                    var studentId = $("#StudentId").val();
                    var json = { studentId: studentId };

                    $("#Name").val("");
                    $("#Email").val("");
                    $("#Department").val("");
                    $("#CourseId").empty();
                    $("#CourseId").append('<option value="">--Select Course--</option>');

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetStudentInfoByStudentId", "Student")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {

                            $("#Name").val(data.Name);
                            $("#Email").val(data.Email);
                            $("#Department").val(data.DepartmentName);
                        }
                    });
                });
            });
        </script>
    }

